.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.pictures {
  padding: 10px;
  height: 200px;
  width: 200px;
}

body {
  background-color: #fff8dc;
}

